**/target
**/_build
**/bin
*.*~
*.versionsBackup
**/.settings
**/.project
.settings
.project
.classpath
*.iml
*.iws
.DS_Store
.idea/
**/.svn
.pmd
**/.pmd
**/**/.pmd
.metadata
target
Servers
out
build/
gradle/
.gradle/
